:root{
    --primary: #f28283;
    --light: #f8f0f0;
    --dark: rgb(37, 37, 37);
    --background: #8bc5af;
    --grey: #d8d8d8;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(/static/img/icons-stuff.png);
    background-size: 50%;
    background-attachment: fixed;
}

nav{
    box-shadow: 0px 0px 10px 3px var(--grey);
    margin: auto;
    background-color: white;
}

#nav-logo{
    text-decoration: none;
    font-family: 'Devonshire', cursive;
    color: var(--primary);
    text-shadow: 2px 2px 1px var(--dark);
    font-size: 40px;
    margin-left: 20px;
    padding-right: 30px;
    border-right: 1px solid var(--primary);
}

#box{
    width: 500px;
    margin: auto;
    margin-top: 60px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--primary);
}

#create-profile-link{
    text-decoration: none;
    color: var(--light);
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 7px;
    float: right;
}

#create-profile-link:hover{
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid var(--dark);
}

#submit-btn:hover{
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid var(--dark);
}

.container {
    max-width: 1000px;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.986);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px var(--grey);
    border: 1px solid var(--grey);
}

.card{
    margin: 2px;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 900px;
    background-color: #F3F3F3;
}

.card:hover{
cursor: pointer
}

.small_pic{
height: 150px;
width: 150px;
}

#profile-btn{
    background-color: var(--primary);
    width: 100px;
    border-radius: 25px;
    border-color: var(--primary);
    border: 1px solid rgb(216, 216, 216);
}

#profile-btn:hover{
    background-color: var(--dark);
}

#danger-alert{
    margin: auto;
}

.was-validated{
    padding: 40px;
}

.was-validated > div{
    padding-top: 10px;
    margin-top: 20px;
}

.form-region{
    border: 1px solid var(--primary);
    padding: 20px 10px;
    border-radius: 5px;
}

.art-headers{
    font-size: 20px;
}

.error-field{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(255, 50, 50, 0.589);
    height: 200px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid var(--dark);
}

.error-field > p{
    font-size: 20px;
    margin: auto;
    color: var(--light);
}

.error-field > h1{
    margin: auto;
    color: var(--light);
}

#submit-btn{
    background-color: var(--primary);
    border: 1px solid var(--light);
}

#chat-list{
    max-width: 400px;
    margin-top: 40px;
}

.list-btn{
    text-decoration: none;
    color: var(--dark);
}

#navbar-links:hover{
    background-color: rgb(221, 221, 221);
    transition: 0.5s;
    border-radius: 5px;
}

.message-box{
    height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

#message_form{
    border-top: 1px solid var(--dark);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px;

}

#message_id{
    height: 100px;
}

#message_submit{
    background-color: var(--primary);
    border: 1px solid var(--dark);
    margin-top: 20px;
}

#contact-name{
    margin: auto;
    margin-bottom: 5px;
    padding: 5px 25px;
    color: var(--light);
    background-color: var(--primary);
    border-radius: 5px;
}

#chat-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid var(--dark);
    border-radius: 6px;
}

.message-bubble{
    padding: 8px;
    background-color: var(--grey);
    border-radius: 5px;
    box-shadow: 1px 1px var(--dark);
    margin-bottom: 0px;
}

.trade_card{
display: flex;
align-items: center;
margin-bottom: 30px;
}

.large_trade_card{
margin-bottom: 30px;
background-color: #F3F3F3;
border-radius: 5px;
}

.arrow_box{
display: flex;
flex-direction: column;
text-align: center;
}

.arrow{
font-size: 100px;
}

#show_sub_categories{
max-width: 900px;
margin:auto;
}

#search_category_id{
max-width: 900px;
margin:auto;
margin-bottom: 16px;
}

.search_button{
float:right;
margin-top:10px;
margin-bottom:10px;
background-color: var(--primary);
border: 1px solid var(--light);
}

.search_by_title{
    max-width:900px;
    margin:auto;
}

.message-container-left{
    width: 200px;
    margin: 10px 0px 0px 20px;
}

.message-container-right{
    width: 200px;
    margin-top: 10px;
    margin-left: 64%;
}

.send-form{
    padding: 10px;
}

.form-check{
    padding: 20px 10px;
}

#tier-big-box{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px 20px 20px 40px;
    margin-top: 30px;
}

#tier-big-box > input{
    padding: 40px 0px 0px 5px;
}

.tier-info-box{
    border: 1px solid var(--dark);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--light);
    max-width: 500px;
}

.tier-box{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 1px solid var(--light);
}

.tier-box > p{
    margin-left: 20px;
}


.message-sent-from{
    font-size: 10px;
    color: var(--dark);
    margin-bottom: 0px;
}

.message-time-stamp{
    font-size: 10px;
    color: var(--dark);
    margin-top: 0px;
}

.tier-icons{
    height: 40px;
    width: 40px;
}

.tier-icons-info{
    margin-top: 15px;
    height: 40px;
    width: 40px;
}

.head-info-box{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--light);
    padding: 5px;
}

#trade-div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#trade-div select {
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
}


/* CSS - popup till förklaring av handslag*/
.tooltip {
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    border-bottom: 1px black dotted;
    opacity: 1;
    width : auto
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
     
  /* Position för tooltip */
     position: absolute;
     z-index: 0.5;
     top: -10px;
     left: 110%;
   }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
  }

.pictures{
height:270px;
width: 270px;
}

#temp_pic{
max-height: 100%;
max-width:100%;
display: block;
margin:auto;
}


.card_form{
 margin: 10px;
}

.contact_info{
margin: 10px;
}

.center_h1{
text-align: center;
}

#remove_btn {
width:80px;
margin-top:16px;
background-color: var(--primary);
color:white;
}

.show_intrest_button{
background-color: var(--primary);
border: 1px solid var(--light);
}

.nav-link{
color: var(--primary);
font-size: 20px;
font-weight: bold;
}

.nav-link:hover{
color: var(--primary);
}

.article_body{
flex-direction: column;
display:flex;
flex-direction: row;
flex-wrap: wrap;
}

.article_h2{
margin-top:5%;
}

.article_p{
margin-top:5%;
font-size:18px;
}

#remove_article{
margin-top: 50px;
}

#remove_article_forms{
display: flex;
flex-direction: row;
}

#my_profile {
    border: 2px solid black ;
}

#my_profile > h1{
    margin-top: 20px;
    text-align: center;
    border-bottom: solid 2px black ;
}

#my_profile > #all_info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#my_profile > #all_info > #person_info > p {
    font-size: 20px;
}

#my_profile > #all_info > #live_info >p {
    font-size: 20px;
}

#my_profile > #all_info > #person_info >h3 {
    border-bottom: solid 1px black ;
}

#my_profile > #all_info > #live_info >h3 {
    border-bottom: solid 1px black ;
}

#my_profile > #transaction_links{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
}

#my_profile > #transaction_links > a{
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}

.pure-form > h1 {
    text-align: center;
    border-bottom: solid 2px black ;
}
.pure-form > #head_passwords > #fix_password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.pure-form > #head_passwords> #fix_password > label{
    font-size: 20px;
}

.pure-form > #head_passwords> #fix_password > input{
    margin-bottom: 20px;
}

.pure-form > #head_passwords > button{
    margin-left: 22px;
}

.article_button{
background-color: var(--primary);
border: 1px solid var(--light);
}

.article_button a{
color: white;
}

.edit_options{
display: flex;
flex-direction: row;
}

#tier_image{
margin-top: 10px;
}

.trade{
border: none !important;
}

#pop_box{
top: 10%;
}

.position-fixed{
top: 10%;
}

.toast:not(.show){
display: block !important;
}

.confirm_trade{
margin-bottom: 10px;
margin-left: 10px;
}

.trade_complete{
margin-bottom: 10px;
margin-left: 10px;
}

.submit_interest{
margin-left: 15px;
}

.trade_proposed{
margin-bottom: 10px;
}

.btn:hover{
background-color: rgb(61, 61, 61) !important;
}