:root{
    --primary: #f3e6aa;
    --light: #FEFAEC;
    --dark: rgb(37, 37, 37);
    --background: #f3e6aa;
    --grey: #BEBEBE;
}

body{
    background-color: #f3e6aa;
    font-family: 'Montserrat', sans-serif;
}

nav{
    box-shadow: 1px 1px 1px var(--grey);
    max-width: 1200px;
    margin: auto;
}

#nav-logo{
    text-decoration: none;
    font-family: 'Devonshire', cursive;
    color: var(--primary);
    text-shadow: 2px 2px 1px var(--dark);
    font-size: 40px;
    margin-left: 20px;
    padding-right: 30px;
    border-right: 1px solid var(--primary);
}

#box{
    width: 500px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--primary);
}

.container {
    max-width: 1000px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card{
    margin: 30px;
    padding: 20px;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#temp_pic{
max-width: 200px;
}

#profile-btn{
    background-color: var(--primary);
    width: 100px;
    border-radius: 25px;
    border-color: var(--primary);
    border: 1px solid rgb(216, 216, 216);
}

#profile-btn:hover{
    background-color: var(--dark);
}

#danger-alert{
    margin: auto;
}

.was-validated{
    padding: 40px;
}

.was-validated > div{
    padding-top: 10px;
    margin-top: 20px;
}

.form-region{
    border: 1px solid var(--primary);
    padding: 20px 10px;
    border-radius: 5px;
}

.art-headers{
    font-size: 20px;
}

.error-field{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(255, 50, 50, 0.589);
    height: 200px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid var(--dark);
}

.error-field > p{
    font-size: 20px;
    margin: auto;
    color: var(--light);
}

.error-field > h1{
    margin: auto;
    color: var(--light);
}

#submit-btn{
    background-color: var(--background);
    border: 1px solid var(--light);
}

#chat-list{
    max-width: 400px;
    margin-top: 100px;
}

.list-btn{
    text-decoration: none;
    color: var(--dark);
}

.message-box{
    max-height: 500px;
    overflow: scroll;
}

#navbar-links:hover{
    background-color: rgb(221, 221, 221);
    transition: 0.5s;
    border-radius: 5px;
}


#handshake_tooltip{
    font-style: italic;
}



/* CSS - popup till förklaring av handslag*/
.tooltip {
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    border-bottom: 1px black dotted;
    opacity: 1;
    width : auto
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
     
  /* Position för tooltip */
     position: absolute;
     z-index: 0.5;
     top: -10px;
     left: 110%;
   }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
  }