:root{
    --primary: #F6D55C;
    --light: #FEFAEC;
    --dark: #625772;
    --background: #ed553b;
}

#box{
    width: 500px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--primary);
}

body{
    background-color: var(--primary);
}
.container {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
}

.card{
    margin: 10px;
    padding: 20px;
}

#temp_pic{
max-width: 200px;
}

#profile-btn{
    background-color: var(--background);
}