{% extends "base.html" %} {% block title %}Alla artiklar{% endblock %} {% block content
    %}

    <h1>Vad är Ömsa?</h1>
    <p>
        Ömsa är ett studentprojekt skapat i kursen Systemutveckling och projekt 1 på Informationsarkitektsprogrammet, Malmö universitet.
    </p>
    <p>Ömsa är en plattform för byteshandel. 
        På vår hemsida kan användare lägga upp annonser för prylar de vill bli av med. Sedan kan de leta upp andra prylar att byta till sig. 
        Är man inte intresserad av något i utbyte så går det bra att byta sina varor mot ett handslag.</p>
    <p>Skapare av sidan:</p>
    <p>Teodor Juncke</p>
    <p>Teodor Esaiasson</p>
    <p>Fredrik Siöström</p>
    <p>Oscar Tveit</p>
    <p>Alexander Lilja Nordin</p>
{% endblock %}