<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Devonshire&display=swap" rel="stylesheet">

    <!--Google fonts
        Smalare version av den som är inlagd just nu
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/static/js/javascript.js"></script>
    
    <link rel="stylesheet" href="/static/css/style.css">

    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <nav id="navbar_css" class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" id="nav-logo">ÖMSA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" id="navbar-links">
                {% if current_user_id == None %}
                <a class="nav-link active" aria-current="page" href="/about">Vad är Ömsa?</a>
                {% else %}
                <li class="nav-item" id="navbar-links">
                    <a class="nav-link active" arie-current="page" href="/show_profile_page">Bytesförslag</a>
                </li>
                <li class="nav-item active" id="navbar-links">
                    <a class="nav-link active" aria-current="page" href="/create">Skapa artikel</a>
                </li>
                <li class="nav-item active" id="navbar-links">
                    <a class="nav-link active" aria-current="page" href="/show_own_storage">Mitt förråd</a>
                </li>
                <li class="nav-item active" id="navbar-links">
                    <a class="nav-link active" aria-current="page" href="/render_chat_list">Meddelande</a>
                </li>
                {% endif %}
            </ul>
            </div>
            <div class="btn-group dropstart">
                {% if current_user_id == None %}
                <button type="button" class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false" id="profile-btn">Logga in</button></button>
                {% else %}
                <button type="button" class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false" id="profile-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg> 
                </button>
                {% endif %}
                <ul class="dropdown-menu" >
                  {% if current_user_id == None %}
                  <li><a class="dropdown-item" href="/login">Logga in</a></li>
                  <li><a class="dropdown-item" href="/create_profile">Skapa användare</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="/my_profile">Min profil</a></li>
                  <li><a class="dropdown-item" href="/transaction_history">Historik</a></li>
                  <li><a class="dropdown-item" href="/logout_user">Logga ut</a></li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">{% block content %} {% endblock %}</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>