{% extends "base.html" %} {% block title %}Skapa artikel{% endblock %} {% block content
  %}
  <h1 class="center_h1">Skapa en användare</h1>

  <form action="/create_user" class="was-validated" method="POST">
    <div class="form-row">       
      <div class="col-md-4 mb-3">
        <label for="validationTooltipUsername" class="form-label">Användarnamn</label>
        <input type="text" class="form-control border-secondary" id="validationTooltipUsername" name="user_name" onchange='saveValue(this);' required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Lösenord</label>
        <input type="password" class="form-control border-secondary" id="exampleInputPassword1" name="user_password" onchange='saveValue(this);' required>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">E-postadress</label>
        <input type="email" class="form-control border-secondary" id="exampleInputEmail1" name="user_email" aria-describedby="emailHelp" onchange='saveValue(this);' required>
      </div>
      <div class="mb-3">
        <label for="validationTooltip01" class="form-label">Förnamn</label>
        <input type="f_name" class="form-control border-secondary" id="validationTooltip01" name="user_f_name" aria-describedby="emailHelp" onchange='saveValue(this);' required>
      </div>
      <div class="mb-3">
        <label for="validationTooltip02" class="form-label">Efternamn</label>
        <input type="l_name" class="form-control border-secondary" id="validationTooltip02" name="user_l_name" onchange='saveValue(this);'required>
      </div>
      <div class="mb-3">
        <label for="validationTooltip03" class="form-label">Address</label>
        <input type="adress" class="form-control border-secondary" id="validationTooltip03" name="user_adress" aria-describedby="emailHelp" onchange='saveValue(this);' required >
      </div>
      <div class="col-md-3 position-relative">
        <label for="validationTooltip04" class="form-label">Postnummer</label>
        <input type="text" class="form-control border-secondary" id="validationTooltip04" name="user_zip_code"onchange='saveValue(this);' pattern="[0-9]{5}" required>
      </div>
      <div class="mb-3">
        <label for="validationTooltip04" class="form-label">Stad</label>
        <select class="form-select border-secondary" required aria-label="select example" id="city" name="city" >
          {%for row in city%}:
            <option value={{row[0]}}>{{row[1]}} </option>
          {%endfor%}
        </select>
      </div>
      <div class="mb-3" >
        <label for="validationTooltip05" class="form-label">Telefonnummer</label>
        <input type="user_phone_number" class="form-control border-secondary" id="validationTooltip05" name="user_phone_number" onchange='saveValue(this);'pattern="[0-9]{10}"  required>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit" id="submit-btn">Skapa profil</button>
      </div> 
  </form>
  <script src="/static/js/javascript.js"></script>
{% endblock %}
