{% extends "base.html" %} {% block title %}Min profil{% endblock %} {% block content%}
    <form  action="/change_password" method="POST" class="pure-form">
        <h1>Byta Lösenord</h1>
        <fieldset id="head_passwords">
            <div id="fix_password">
                <label>Lösenord:</label>
                <input type="password"  id="password" name="main_password" required>
                <label>Bekräfta lösenord:</label>
                <input type="password" id="confirm_password" required>
            </div>
            <button class="btn btn-primary" type="submit" id="submit-btn">Byt lösenord</button>
        </fieldset>
    </form>
    <script src="/static/js/password.js"></script>
{% endblock %}
