{% extends "base.html" %} {% block title %}Meddelanden{% endblock %} {% block content
    %}
<div class="message-box">
    {%for row in chat_info%}
    <div class="message-container">
        <p class="message-sent-from">{{row[6]}}</p>
        <p class="message-bubble">{{row[3]}}</p>
        <p class="message-time-stamp">{{row[4].strftime('%Y-%m-%d %-H:%-M')}}</p>
    </div>
    {%endfor%}
</div>

<div class="send-form">
    <form action="/send_message" id="message_form" method="POST">
        <label for="#">Meddelande</label>
        <input type="text" name="message" id="message_id">
        <input type="hidden" value="{{chat_info[0,1]}}" id="chat_id">
        <input class="btn btn-primary" type="submit" value="Submit" id="message_submit">
    </form>
</div>

<script type="text/javascript">
    $('#message_form').submit(function(){
        $.post("/send_message",
            {
                user_message: $("#message_id").val(),
                chat_id: $("#chat_id").val()
            }
        ).done(function (data) {
            location.reload(); // Detta körs när man får svar från servern (t.ex. att sparningen lyckades).
        }).fail(function (error) {
            // Logga eventuella fel
            console.log(error);
        }); 
    });
</script>

<!--
$(document).ready(function() {
    $('#message_form').submit(function(){
        $.post("/send_message", {
         user_message: $('#message_id').val(),
        }, function(response){
            location.reload(true);
        });
        return false;
      });
    }); 
-->

{% endblock %}