{% extends "base.html" %} {% block title %}Meddelanden{% endblock %} {% block content
    %}
<div id="chat-container">
    <div class="message-box">
        {%for row in chat_info%}
            {%if row[2] == user_id%}
            <div class="message-container-left">
                <p class="message-sent-from">{{row[6]}}</p>
                <p class="message-bubble">{{row[3]}}</p>
                <p class="message-time-stamp">{{row[4].strftime('%Y-%m-%d')}}</p>
            </div>
            {%else%}
            <div class="message-container-right">
                <p class="message-sent-from">{{row[6]}}</p>
                <p class="message-bubble">{{row[3]}}</p>
                <p class="message-time-stamp">{{row[4].strftime('%Y-%m-%d')}}</p>
            </div>
            {%endif%}
        {%endfor%}
    </div>

    <div class="send-form">
        <form action="/send_message" id="message_form" method="POST">
            <label for="#">Meddelande</label>
            <textarea type="text" name="message" id="message_id"></textarea>
            {%for row in chat_info[:1]%}
            <input type="hidden" value="{{row[1]}}" name="chat_id" id="chat_id">
            {%endfor%}
            <input class="btn btn-primary" type="submit" value="Skicka" id="message_submit">
        </form>
    </div>
</div>
{% endblock %}