{% extends "base.html" %} {% block title %}Profile page{% endblock %} {% block content
    %}
<div>
    <h1>Föreslagna byten</h1>

    <h2>Du behöver svara:</h2>
    {% for trade in trades: %}
        {% if trade[11] == user_id and trade[8] == None %}
            <div class="large_trade_card">
                <div class="trade_card" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample{{trade[0]}}" aria-expanded="false" aria-controls="collapseWidthExample">
                    <div class="card mb-3 trade" style="width: 48rem;">
                        <div class="row g-0">
                            {%for image in images%}
                                {% if trade[10] == image[1]%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/{{image[2]}}" class="img-fluid rounded-start" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            {%endfor%}
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{trade[12]}}</h4>
                                    <p class="card-text">Stad: {{trade[67]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arrow_box">
                        <div class="arrow">⇆</div>
                            <p>Föreslaget: {{trade[6].strftime('%Y-%m-%d')}}</p>
                    </div>
                    <div class="card mb-3 trade" style="width: 48rem;">
                        <div class="row g-0">
                            {%for image in images%}
                                {%if trade[20] == image[1]%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/{{image[2]}}" class="img-fluid rounded-start" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            {%endfor%}
                                {%if trade[7] == true%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/handslag.jpeg" class="img-fluid rounded-start" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            <div class="col-md-8">
                                <div class="card-body">
                                    {%if trade[7] != true%}
                                        <h4 class="card-title">{{trade[22]}}</h4>
                                        <p class="card-text">Stad: {{trade[69]}}</p>
                                    {%endif%}
                                    {%if trade[7] == true%}
                                        <h4 class="card-title">Handslag</h4>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseWidthExample{{trade[0]}}">
                    {% if trade[8] == None %}
                        <div class="card_form">
                            <h4>Intresserad?</h4>
                            <form action="/submit_interest" method="POST">
                                <div class="form-check submit_interest">
                                    <input type="radio" class="form-check-input" id="Yes_{{trade[0]}}" name="interest" value=1>
                                    <label for="Yes_{{trade[0]}}">Jag är intresserad</label><br>
                                    <input type="radio" class="form-check-input" id="No_{{trade[0]}}" name="interest" value="0">
                                    <label for="No_{{trade[0]}}">Jag är inte intresserad</label><br>
                                </div>
                                    <input type="hidden" id="transaction_id" name="transaction_id" value={{trade[0]}}>
                                    <input type="submit" class="btn btn-primary article_button trade_proposed" value="Skicka">
                                {%if trade[7] == true%}
                                    <input type="hidden" value="{{trade[9]}}" name="husband_id">
                                    <input type="hidden" value="{{trade[11]}}" name="wife_id">
                                {%endif%}
                                {%if trade[7] != true%}
                                    <input type="hidden" value="{{trade[21]}}" name="husband_id">
                                    <input type="hidden" value="{{trade[11]}}" name="wife_id">
                                {%endif%}
                            </form>
                        </div>
                    {% elif trade[8] == False %}
                        <div class="contact_info" style="width: 48rem;">
                            <h4>Kontakt:</h4>
                            <div class="card-body">
                                <p>Redo för byte, du kan nu kontakta den andra personen</p>
                                <p>Namn: {{trade[46]}}</p>
                                <p>Telefon: {{trade[51]}}</p>
                                <p>Email: {{trade[45]}}</p>
                            </div>
                        </div>
                        {% if trade[3] == None %}
                            <div class="card_form">
                                <h4>Byte genomfört?</h4>
                                <form action="/wife_confirm_trade" method="POST">
                                    <input type="radio" id="Yes_{{trade[0]}}" name="wife_confirm" value=1>
                                    <label for="Yes_{{trade[0]}}">Bytet har genomförts</label><br>
                                    <!--<input type="radio" id="No" name="wife_confirm" value="0">
                                    <label for="No">Bytet kommer inte genomföras</label><br>-->
                                    <input type="hidden" id="transaction_id" name="transaction_id" value={{trade[0]}}>
                                    <input type="submit" value="Skicka">
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <h2>Ej slutförda:</h2>
    {% for trade in trades: %}
        {% if trade[8] == False %}
            <div class="large_trade_card">
                <div class="trade_card" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample{{trade[0]}}" aria-expanded="false" aria-controls="collapseWidthExample">
                    <div class="card mb-3 trade" style="width: 48rem;">
                        <div class="row g-0">
                            {%for image in images%}
                                {%if trade[10] == image[1]%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/{{image[2]}}" class="img-fluid rounded-start" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            {%endfor%}
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{trade[12]}}</h4>
                                    <p class="card-text">Stad: {{trade[67]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arrow_box">
                        <div class="arrow">⇆</div>
                            <p>Föreslaget: {{trade[6].strftime('%Y-%m-%d')}}</p>
                    </div>
                    <div class="card mb-3 trade" style="width: 48rem;">
                        <div class="row g-0">
                            {%for image in images%}
                                {%if trade[20] == image[1]%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/{{image[2]}}" class="img-fluid rounded-start" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            {%endfor%}
                                {%if trade[7] == true %}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/handslag.jpeg" class="img-fluid rounded-start" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            <div class="col-md-8">
                                <div class="card-body">
                                    {%if trade[7] != true %}
                                        <h4 class="card-title">{{trade[22]}}</h4>
                                        <p class="card-text">Stad: {{trade[69]}}</p>
                                    {%endif%}
                                    {%if trade[7] == true %}
                                        <h4 class="card-title">Handslag</h4>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseWidthExample{{trade[0]}}">
                    {% if trade[8] == None %}
                        <div class="card_form">
                            <h4>Intresserad?</h4>
                            <form action="/submit_interest" method="POST">
                                <input type="radio" id="Yes_{{trade[0]}}" name="interest" value=1>
                                <label for="Yes_{{trade[0]}}">Jag är intresserad</label><br>
                                <input type="radio" id="No_{{trade[0]}}" name="interest" value="0">
                                <label for="No_{{trade[0]}}">Jag är inte intresserad</label><br>
                                <input type="hidden" id="transaction_id" name="transaction_id" value={{trade[0]}}>
                                <input type="submit" value="Skicka">
                                <input type="hidden" value="{{trade[21]}}" name="husband_id">
                                <input type="hidden" value="{{trade[11]}}" name="wife_id">
                            </form>
                        </div>
                    {% elif trade[8] == False %}
                        <div class="contact_info" style="width: 48rem;">
                            <div class="card-body">
                                <p>Redo för byte, du kan nu kontakta den andra personen</p>
                                {% if trade[11] == user_id and trade[7] != True %}
                                    <p>Namn: {{trade[46]}}</p>
                                    <p>Telefon: {{trade[51]}}</p>
                                    <p>Email: {{trade[45]}}</p>
                                {% elif trade[11] != user_id %}
                                    <p>Namn: {{trade[34]}}</p>
                                    <p>Telefon: {{trade[39]}}</p>
                                    <p>Email: {{trade[33]}}</p>
                                {% elif trade[7] == True and trade[11] == user_id %}
                                    <p>Namn: {{trade[58]}}</p>
                                    <p>Telefon: {{trade[63]}}</p>
                                    <p>Email: {{trade[57]}}</p>
                                {%endif%}
                                {%for chat_id in all_chat_id%}
                                    {%if chat_id[2] == trade[11] and (chat_id[1] == trade[22] or chat_id[1] == trade[9])%}
                                        <button type="button" class="btn btn-primary article_button"><a href="/message_page/{{chat_id[0]}}" class="list-btn">Chatta!</a></button>
                                    {%elif ((chat_id[1] == trade[22] or chat_id[1] == trade[9]) and chat_id[2] == trade[11]  or chat_id[1] == trade[11] and (chat_id[2] == trade[22] or chat_id[2] == trade[9])) %}
                                        <button type="button" class="btn btn-primary article_button"><a href="/message_page/{{chat_id[0]}}" class="list-btn">Chatta!</a></button>
                                    {%endif%}
                                {%endfor%}
                            </div>
                        </div>
                        {% if trade[3] == None and trade[11] == user_id %}
                            <div class="card_form confirm_trade">
                                <h4>Byte genomfört?</h4>
                                <form action="/wife_confirm_trade" method="POST">
                                    <input type="hidden" id="Yes_{{trade[0]}}" name="wife_confirm" value=1>
                                    <!--<input type="radio" id="No" name="wife_confirm" value="0">
                                    <label for="No">Bytet kommer inte genomföras</label><br>-->
                                    <input type="hidden" id="transaction_id" name="transaction_id" value={{trade[0]}}>
                                    {% if trade[4] != None %}
                                        <input type="hidden" id="both_complete" name="both_complete" value="1">
                                    {% elif trade[4] == None %}
                                        <input type="hidden" id="both_complete" name="both_complete" value="0">
                                    {%endif%}
                                    <input class="btn btn-primary article_button trade_complete" type="submit" value="Genomfört">
                                </form>
                            </div>
                        {% endif %}
                        {% if trade[4] == None and trade[9] == user_id %}
                            <div class="card_form confirm_trade">
                                <h4>Byte genomfört?</h4>
                                <form action="/husband_confirm_trade" method="POST">
                                    <input type="hidden" id="Yes" name="husband_confirm" value=1>
                                    <label for="Yes">Bytet har genomförts</label><br>
                                    <!--Ger användaren en möjlighet att klicka att bytet inte kommer genomföras <input type="radio" id="No" name="husband_confirm" value="0">
                                    <label for="No">Bytet kommer inte genomföras</label><br>-->
                                    <input type="hidden" id="transaction_id" name="transaction_id" value={{trade[0]}}>
                                    {% if trade[3] != None %}
                                        <input type="hidden" id="both_complete" name="both_complete" value="1">
                                    {% elif trade[3] == None %}
                                        <input type="hidden" id="both_complete" name="both_complete" value="0">
                                    {%endif%}
                                <input type="submit" class="btn btn-primary article_button trade_complete" value="Genomfört">
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <h2>Väntar på svar:</h2>
    {% for trade in trades: %}
        {% if trade[9] == user_id and trade[8] == None %}
            <div class="large_trade_card">
                <div class="trade_card" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample{{trade[0]}}" aria-expanded="false" aria-controls="collapseWidthExample">
                    <div class="card mb-3 trade" style="width: 48rem;">
                        <div class="row g-0">
                            {%for image in images%}
                                {%if trade[20] == image[1]%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/{{image[2]}}" class="img-fluid rounded-start" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            {%endfor%}
                                {%if trade[7] == true%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/handslag.jpeg" class="img-fluid rounded-start" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            <div class="col-md-8">
                                <div class="card-body">
                                    {%if trade[7] != true%}
                                        <h4 class="card-title">{{trade[22]}}</h4>
                                        <p class="card-text">Stad: {{trade[69]}}</p>
                                    {%endif%}
                                    {%if trade[7] == true%}
                                        <h4 class="card-title">Handslag</h4>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="arrow_box">
                            <div class="arrow">⇆</div>
                            <p>Föreslaget: {{trade[6].strftime('%Y-%m-%d')}}</p>
                        </div>
                    <div class="card mb-3 trade" style="width: 48rem;">
                        <div class="row g-0"></div>
                            {%for image in images%}
                                {%if trade[10] == image[1]%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/{{image[2]}}" class="img-fluid rounded-start" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            {%endfor%}
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{trade[12]}}</h4>
                                    <p class="card-text">Stad: {{trade[67]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="collapse" id="collapseWidthExample{{trade[0]}}">
                    {% if trade[8] == False %}
                        <div class="contact_info" style="width: 48rem;">
                            <h4>Kontakt:</h4>
                            <div class="card-body">
                                <p>Redo för byte, du kan nu kontakta den andra personen</p>
                                <p>Namn: {{trade[34]}}</p>
                                <p>Telefon: {{trade[39]}}</p>
                                <p>Email: {{trade[33]}}</p>
                            </div>
                        </div>
                    {% elif trade[8] == None %}
                        <div class="card_form" style="width: 48rem;">
                            <p>Status: Väntar på svar</p>
                            <form action="/transaction_undo" method="post">
                                <input type="hidden" name="transaction_id" value="{{trade[0]}}">
                                <input type="submit" value="Ångra">
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}