{% extends "base.html" %} {% block title %}Transaktionshistorik{% endblock %} {% block content
    %}
<div>
    <h1>Transaktionshistorik</h1>
    {% for trade in trades: %}
        {% if trade[3] == true and trade[4] == true %}
            <div class="large_trade_card">
                <div class="trade_card"  data-bs-toggle="collapse" data-bs-target="#collapseWidthExample{{trade[0]}}" aria-expanded="false" aria-controls="collapseWidthExample">
                    <div class="card mb-3" style="width: 48rem;">
                        <div class="row g-0">
                            {%for image in images%}
                                {%if trade[2] == image[1]%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/{{image[2]}}" class="card-img-top" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            {%endfor%}
                                {%if trade[7] == true%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/handslag.jpeg" class="img-fluid rounded-start" alt="Artikelbild">
                                    </div>
                                {%endif%}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                {%if trade[7] != true %}
                                    <h4 class="card-title">{{trade[22]}}</h4>
                                    <p class="card_text">{{trade[23]}}</p>
                                {%endif%}
                                {%if trade[7] == true %}
                                    <h4 class="card-title">Handslag</h4>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <div class="arrow_box">
                        <div class="arrow">⇆</div>
                    </div>
                    <div class="card mb-3" style="width: 48rem;">
                        <div class="row g-0">
                            {%for image in images%}
                                {%if trade[1] == image[1]%}
                                    <div class="col-md-4 small_picture">
                                        <img id="temp_pic" src="/static/article_images/{{image[2]}}" class="card-img-top" alt="Artikelbild">
                                    </div>
                                {%endif%}
                            {%endfor%}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">{{trade[12]}}</h4>
                                <p>{{trade[13]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}