{% extends "base.html" %} {% block title %}Förråd{% endblock %} {% block content
    %}
{%for row in articles%}
    <div class="card" style="width: 48rem;">
        {%for image in images%}
            {%if row[0] == image[1]%}
            <img src="/static/article_images/{{image[2]}}" class="card-img-top" alt="Artikelbild">
            {%endif%}
        {%endfor%}
        <div class="card-body">
            <h5 class="card-title">{{row[2]}}</h5>
            <a href="" class="btn btn-primary">Se artikel</a>
            <form action="/edit_article" method="post">
                <input type="hidden" name="article_id" id="article_id" value={{row[0]}}>
                <button type="submit">Redigera</button>
            </form>
        </div>
    </div>
{%endfor%}
{% endblock %}

